html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  z-index: 5;
}
/*
body{
  background-image: url("../img/fondo1.jpg");/* Imagen de fondo */
/*}*/

#container {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-left: 80px;
}
.d {
  transform: rotate(10deg);
  position: relative;
  margin-left: 10px;
  height: 630px;
  width: 350px;
  z-index: 1;
  transition:
      z-index 0.5s,
      transform 0.50s,
      box-shadow 0.80s,
      width 0.4s linear,
      height 0.4s linear; 
}

.d button {
  width: 200px;
  height: 50px;
  border-color: greenyellow;
  background-color: transparent;
  border-radius: 20px;
  margin-bottom: 10px;
}

.d button:hover{
  border-color: red;
}

.d:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 30px black;
  z-index: 2; /* Pone al div seleccionado por delante de todo*/    
  /* Cambio de imagen */
  filter: brightness(120%);
  background-image: url("../img/io.jpg");/* Imagen de fondo */
  background-repeat: no-repeat, repeat;
  animation: spin3 10s linear infinite;
}

@keyframes spin3 {
  25% {
      -webkit-transform: rotate(-5deg); 
      transform:rotate(-5deg);
      box-shadow: 0px 0px 45px black;
  }
  50% {
      -webkit-transform: rotate(0deg); 
      transform:rotate(0deg);
      box-shadow: 0px 0px 35px black;
  }
  75%{
      -webkit-transform: rotate(5deg); 
      transform:rotate(5deg);
      box-shadow: 0px 0px 30px black;
  }
  100%{
      -webkit-transform: rotate(0deg); 
      transform:rotate(0deg);
  }
}

.imgdiv {
  position: relative;
  max-width:100%;
  max-height:100%;
}

.d div {
  position: absolute;
  width: 100%;
  align-items: center;
  text-align: center;
  bottom: 0px;
}

.d img {
  height: 650px;
  width: 350px;
}